<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=" utf-8">
    <meta name="description" content="Ejemplo de html 5">
    <meta name="keywords" content="html5,css,javascript">
    <title> Este es el titulo del documento </title>
    <link rel="stylesheet" href="app.component.css">
    <!--style>
        p{font-size: 24px; color: rgb(166, 255, 0);}
    </style-->
    <link rel="stylesheet" href="app.component.css">

</head>
<body>
  <div class="agrupamiento"></div>
  <nav>

  </nav>
  <header class="cabecera">
    <h1>blog</h1>
  </header>
  <nav class="menu">
    <ul>
      <li>principal</li>
      <li>fotos</li>
      <li>videos</li>
      <li>contactos</li>
    </ul>
  </nav>
  <section class="seccion">
    <article>
      <header>
        <hgroup>
          <h1>titulo mensaje</h1>
          <h2>subtitulo mensaje</h2>

        </hgroup>

      </header>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum magni ea sit labore, molestiae ipsa architecto itaque ex officiis quas libero, optio nulla aut distinctio quos dolorem quam recusandae, atque incidunt at consequatur iusto? Dolorem fugit aut commodi amet maxime dolor? Consectetur, fugiat nulla corrupti, quia cumque ab id dolorum amet architecto nisi sit ea vel illum libero accusantium maxime dicta quis cupiditate facere rem velit earum repudiandae facilis. Facere error hic, iste consequuntur, similique delectus voluptatem laboriosam impedit enim sint, harum quis eaque placeat aspernatur nemo nam! Porro tempora libero sequi ut!

      </p>

      <figure>
        <img src="logo.png" width="100">
        <figcaption>
          esta es la imagen de mi blog
        </figcaption>
      </figure>
      <footer>
        <p>comentarios (0)</p>
      </footer>
    </article>
    <header>
      <hgroup>
        <h1>titulo mensaje 2</h1>
        <h2>subtitulo mensaje 2</h2>

      </hgroup>

    </header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas exercitationem quasi facilis ducimus iusto consequatur hic, nulla consectetur magni dolores a velit dolor aliquam sed. Aspernatur laudantium perspiciatis suscipit necessitatibus commodi qui saepe eveniet dolorem deleniti, corrupti cumque adipisci laborum tempora iure, incidunt alias dolore atque aut eius accusamus vero nobis quibusdam. Accusamus dolor architecto amet, excepturi optio tenetur natus laudantium corrupti in eaque ipsam blanditiis labore deserunt voluptate odio eius ipsum aut pariatur veritatis at autem fugiat ea sunt. Officia nihil sed ratione animi, expedita deserunt illo fuga molestias molestiae earum eos ipsum ullam, inventore, facere nemo. Nisi, omnis a?

    </p>

    <footer>
      <p>comentarios (0)</p>
    </footer>

    <article>
      este es mi segundo mensaje
    </article>

  </section>
  <aside class="barra-lateral">
    <blockquote>mensaje 1</blockquote>
    <blockquote>mensaje 2</blockquote>
  </aside>
  <footer class="pie-pagina">
    Derechos Reservados &copy; 2010-2011
    <address>
      <a href="http://utng.edu.mx">UTNG</a>
      <a href="http://w3schools.com">W3SCHOOLS</a>
    </address>

  </footer>
  <div></div>
</body>
</html>


<router-outlet />
